*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
}
body{
  background-color: hsl(210, 46%, 95%);
}
.title{
  display: flex;
}
.title p{
  opacity: 50%;
}
.title img{
  border-radius: 50%;
}
.title .name{
  margin-left: 1rem;
}
.testimonial{
  padding: 5%;
  border-radius: 10px;
}
.content p{
  padding-top: 20px;
  opacity: 70%;
}
.content h3{
  font-weight: 600 ;
}
.testimonials{
  display: grid;
  max-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  grid-gap: 1rem;
  margin: 5% 10% 5px 10%;

}

.daniel{
  background: url("../images/bg-pattern-quotation.svg") no-repeat;
  background-position: 90% 0;
  background-color: hsl(263, 55%, 52%) ;
  color:  hsl(0, 0%, 100%);
  grid-area: daniel;
}
.jonathan{
  background-color: hsl(217, 19%, 35%);
  color:  hsl(0, 0%, 100%);
  grid-area: jonathan;
}
.jeanette{
  background-color: hsl(0, 0%, 81%);
  box-shadow:  0 4px 20px rgba(0, 0, 0, 0.2);
  grid-area: jeanette;
}
.patrick{
  background-color: hsl(219, 29%, 14%);
  color:  hsl(0, 0%, 100%);
  box-shadow:  0 4px 20px rgba(0, 0, 0, 0.2);
  grid-area: patrick;
}
.kira{
  background-color: hsl(0, 0%, 100%);
  box-shadow:  4px 4px 20px rgba(0, 0, 0, 0.2);
  grid-area: kira;

}

.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 0;
}
  
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 765px){

.testimonials{
    background-color: hsl(210, 46%, 95%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1.5fr 2fr;
    grid-template-areas: 
        "daniel"
        "jonathan"
        "jeanette"
        "patrick"
        "kira";
    grid-gap: 1rem;
}

}